.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-align: center;
  width: 230px;
  height: 270px;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.product-card:hover .card-img img {
  transform: scale(1.03); 
}

.card-img img {
  transition: transform 0.3s ease; 
}

.card-img {
  height: 190px;
  border-radius: 8px;
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.product-card p {
  margin: 0 0 16px;
  color: #777;
}

.product-card span {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* Hide default arrows */
.slick-prev,
.slick-next {
  display: none !important;
}

/* Custom arrow styles */
.custom-arrow {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.custom-arrow.next-arrow {
  right: 10px;
}

.custom-arrow.prev-arrow {
  left: 10px;
}

.arrow {
  color: #000; /* Change color as needed */
  width: 30px;
  height: 30px;
}

.product-wrapper {
  display: flex;
  justify-content: center;
}


@media (min-width: 360px) {
 
   
  .product-card {
    width: 230px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  .card-img {
    height: 250px;
  }
  .product-wrapper {
    display: flex ;
    justify-content: center;
  }
} 
 

@media (min-width: 768px) {
  
  
  .product-card {
    width: 230px;
    height: 270px;
    margin-right: 50px;

    
  }
  .card-img {
    height: 250px;
  }
}
